<!-- post method to submit login details-->
<!-- Field of our forms are rendered by the form object -->
{% extends "base.html" %}

{% block content %}
  <h1>Sign In</h1>
  <form action="" method="post" name="login">
      <!-- for flask WTF CSRF security -->
      {{ form.hidden_tag() }}
      <p>
          <!-- Creates the field -->
          Please enter your OAuth:<br>
          {{ form.oauth(size=80) }}<br>
          <!-- Print all the errors according to validator -->
          {% for error in form.oauth.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}<br>
      </p>
      <p>{{ form.remember_me }} Remember Me</p>
      <p><input type="submit" value="Sign In"></p>
  </form>
{% endblock %}